body {
    background: rgb(255, 162, 0);
    background: linear-gradient(90deg, rgba(255, 162, 0, 1) 0%, rgba(255, 231, 0, 1) 100%);
}

h1 {
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content-container {
    justify-content: c;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 35vw;
    height: 50vh;
    border-radius: 1vh;
}